services:
  devcontainer:
    volumes:
      - ./.files/asound.conf:/home/vscode/.asoundrc:ro
      - /mnt/wslg/runtime-dir/pulse/native:/tmp/pulse/native
    environment:
      PULSE_SERVER: unix:/tmp/pulse/native
